<div class="card list options">
  <ion-item class="item-divider item-button-right">
    <ion-label class="input-label">Fleet options</ion-label>
    <div class="buttons">
      <button class="button icon ion-help-circled" ng-click="doShowHelp('options-fleet')"></button>
    </div>
  </ion-item>
  
  <ion-item class="item-input item-select item-select-left">
    <ion-label class="input-label">Class</ion-label>
    <select ng-model="configuration.fleet.class" ng-options="item as item.name for item in classes | orderBy:'name'"></select>
  </ion-item>
  <ion-item class="item-input">
    <ion-label class="input-label">
      LOA
      <span ng-show="configuration.fleet.class.canEdit">(m)</span>
    </ion-label>
    <input ng-model="configuration.fleet.class.loa"
           ng-show="configuration.fleet.class.canEdit"
           type="number" min="0" step="1" placeholder="Length Overall (metres)">
    <length ng-show="!configuration.fleet.class.canEdit"
            value="configuration.fleet.class.loa" decimals="2" show-inches="true" />
  </ion-item>
  <ion-item class="item-input">
    <ion-label class="input-label">
      LWL
      <span ng-show="configuration.fleet.class.canEdit">(m)</span>
    </ion-label>
    <input ng-model="configuration.fleet.class.lwl"
           ng-show="configuration.fleet.class.canEdit"
           type="number" min="0" step="1" placeholder="Waterline length (metres)">
    <length ng-show="!configuration.fleet.class.canEdit"
            value="configuration.fleet.class.lwl" decimals="2" show-inches="true" />
  </ion-item>
  <ion-item class="item-input">
    <ion-label class="input-label">Starters</ion-label>
    <input ng-model="configuration.fleet.starters" type="number" min="1" step="5" placeholder="Number of starters">
  </ion-item>
  <ion-item class="item-input">
    <ion-label class="input-label">Spacing (%)</ion-label>
    <input ng-model="configuration.fleet.spacing" type="number" min="0" step="5" placeholder="Extra space per boat">
  </ion-item>
  <ion-item class="item-input">
    <ion-label class="input-label">Tack angle (&deg;)</ion-label>
    <input ng-model="configuration.fleet.tackAngle" type="number" min="0" step="1" placeholder="Angle between tacks">
  </ion-item>
  
  <ion-item class="item-divider item-input">
    <ion-label class="input-label">Line length</ion-label>
    <length value="getLineLength()" />
  </ion-item>
</div>
