<div class="gps">
  <div class="dials">
    <!-- The Waypoint selector -->
    <div class="list options">
      <ion-item class="item-input item-select item-select-left">
        <ion-label class="input-label">Destination</ion-label>
        <select ng-model="gps.destination"
                ng-options="item as item.name for item in course.marks.allMarks | orderBy:'name'"
                ng-change="onDestinationChanged($event)">
        </select>
      </ion-item>
    </div>

    <!-- The instruments -->
    <div class="instruments">
      <div class="flex-fill">
        <ion-slide-box show-pager="true">
          <ion-slide>
            <mfd title="Distance to Next" value="gps.dials.distance" type="distance"></mfd>
          </ion-slide>
          <ion-slide>
            <mfd title="Time to next" value="gps.dials.ttw" type="time"></mfd>
          </ion-slide>
          <ion-slide>
            <mfd title="Speed over Ground" value="gps.position.coords.speed" type="speed"></mfd>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

  </div>
  <div class="compass">
    <div class="flex-fill">
      <compass-rose heading="getHeading()" bearing="gps.dials.bearing" declination="configuration.course.declination">
      </compass-rose>
    </div>
  </div>
</div>
