<div class="card list options">
  <ion-item class="item-input item-select item-select-left">
    <ion-label class="input-label">To</ion-label>
    <select ng-model="gps.destination"
            ng-options="item as item.name for item in course.marks.allMarks | orderBy:'name'">
    </select>
  </ion-item>
</div>

<compass-rose heading="gps.position.coords.heading" bearing="gps.dials.bearing" declination="configuration.course.declination">
</compass-rose>

<!--
<div style="position: relative; width: 100%; height: 300px;">
  <img src="img/compass.svg"
       style="position: absolute; top: 0; left: 50%; height: 100%; transform: translate(-50%, 0%) rotate(30deg);"/>
  <img src="img/compass-bearing.svg"
       style="position: absolute; top: 0; left: 50%; height: 100%; transform: translate(-50%, 0%) rotate(-5deg);"/>
</div>
-->

<div class="row">
  <div class="col">
  </div>
  <div class="col">
  </div>
</div>

<pre>{{gps.dials | json}}</pre>
<pre>{{gps | json}}</pre>
