<ion-view ng-controller="MainCtrl">
  <ion-nav-buttons side="left">
    <button class="button icon-left ion-android-locate" ng-class="{'icon-opaque': getIsGPSState()}" ng-click="doToggleGPS()">
      {{gps.watch ? 'On' : 'Off'}}
    </button>
  </ion-nav-buttons>

  <ion-nav-title>Course Calculator</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button icon ion-more" ng-click="popoverMore.show($event)"></button>
  </ion-nav-buttons>

  <ion-tabs class="has-header tabs-icon-top tabs-stable">
    <!-- Fleet -->
    <ion-tab title="Fleet" icon="ion-android-boat" on-select="onTabSelect($event)">
      <ion-view>
        <ion-content has-bouncing="false" delegate-handle="fleet">
          <ng-include src="'templates/main-fleet.html'"></ng-include>
        </ion-content>
      </ion-view>
    </ion-tab>

    <!-- Course -->
    <ion-tab title="Course" icon="ion-clipboard" on-select="onTabSelect($event)">
      <ion-view>
        <ion-content has-bouncing="false" delegate-handle="course">
          <ng-include src="'templates/main-course.html'"></ng-include>
        </ion-content>
      </ion-view>
    </ion-tab>

    <!-- Chart -->
    <ion-tab title="Chart" icon="ion-map" on-select="onTabSelect($event)" on-select="onTabSelect($event)">
      <ion-view>
        <ion-content has-bouncing="false" delegate-handle="chart" scroll="false">
          <ng-include src="'templates/main-chart.html'"></ng-include>
        </ion-content>
      </ion-view>
    </ion-tab>

    <!-- Information -->
    <ion-tab title="Info" icon="ion-information" on-select="onTabSelect($event)">
      <ion-view>
        <ion-content has-bouncing="false" delegate-handle="info">
          <ng-include src="'templates/main-info.html'"></ng-include>
        </ion-content>
      </ion-view>
    </ion-tab>

    <!-- GPS -->
    <ion-tab title="GPS" icon="ion-ios-navigate-outline" scroll="false" on-select="onTabSelect($event)">
      <ion-view>
        <ion-content has-bouncing="false" scroll="false" delegate-handle="gps">
          <ng-include src="'templates/main-gps.html'" style="height: 100%;"></ng-include>
        </ion-content>
      </ion-view>
    </ion-tab>
    
    <ion-tab title="Debug" icon="ion-social-codepen-outline" on-select="onTabSelect($event)" ng-if="false">
      <ion-view>
        <ion-content has-bouncing="false" delegate-handle="debug">
          <pre>{{configuration | json}}</pre>
          <pre>{{course | json}}</pre>
        </ion-content>
      </ion-view>
    </ion-tab>

  </ion-tabs>

  <script id="templates/popover-main.html" type="text/ng-template">
    <ion-popover-view class="popover-auto-height">
      <ion-content scroll="false">
        <ion-list>
          <ion-item class="item-icon-left" ng-click="doShare()">
            <i class="icon ion-share"></i>
            Share config
          </ion-item>
          <ion-item class="item-icon-left" ng-click="doLoadConfig()">
            <i class="icon ion-folder"></i>
            Load config
          </ion-item>
          <ion-item class="item-icon-left" ng-click="doShowAbout()">
            <i class="icon ion-information"></i>
            About
          </ion-item>
        </ion-content>
      </ion-popover-view>
    </ion-list>
  </script>

</ion-view>
