<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="net.tipstrade.racecoursemanager"
        version="0.0.3"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Course Calculator</name>
  <description>
    
  </description>
  <author href="https://github.com/oobayly">
  </author>

  <content src="index.html"/>

  <gap:plugin name="cordova-plugin-customurlscheme" source="npm">
    <param name="URL_SCHEME" value="coursemanager" />
  </gap:plugin>
  <gap:plugin name="org.apache.cordova.device" source="npm" />
  <gap:plugin name="org.apache.cordova.device-orientation" source="npm" />
  <gap:plugin name="org.apache.cordova.geolocation" source="npm" />

  <access origin="*"/>
  
  <preference name="phonegap-version"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
