/* Remove Roboto font
   https://code.google.com/p/gmaps-api-issues/issues/detail?id=5880
*/
body {
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif !important;
}

/* Add suffix for input labels in options lists */
.list.options .item-input .input-label:after {
  content: ":";
}

/* Make the list item transparent */
.list-transparent .item {
  border-color: transparent !important;
  background-color: transparent !important;
}

/* Make select box in list left-aligned */
.item-select.item-select-left select {
  right: auto !important;
  padding: 13px 45px 15px 0px !important;
  direction: ltr !important;
  width: 65% !important;
}

/* Don't allow text wrapping on the first row */
.info .row:nth-of-type(1) > .col {
  white-space: nowrap;
}
