/* Remove Roboto font
   https://code.google.com/p/gmaps-api-issues/issues/detail?id=5880
*/
body {
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif !important;
}

/* Add padding to a button bar */
.button-bar-padded {
  padding: 0 16px;
}

/* Add suffix for input labels in options lists */
.list.options .item-input .input-label:after {
  content: ":";
}

/* Make the list item transparent */
.list-transparent .item {
  border-color: transparent !important;
  background-color: transparent !important;
}

/* Break at newlines, breaks and where necessary */
.item-pre {
  white-space: pre-line;
}

/* Make select box in list left-aligned */
.item-select.item-select-left select {
  right: auto !important;
  padding: 13px 45px 15px 0px !important;
  direction: ltr !important;
  width: 65% !important;
}

/* Don't allow text wrapping on the first row */
.info .row:nth-of-type(1) > .col {
  white-space: nowrap;
}

/* Makes the icon opaque */
.icon-opaque:before {
  opacity: 0.5;
}

/* The compass rose */
compass-rose {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
compass-rose img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
}
compass-rose img.disabled {
  opacity: .25;
}

/* GPS */
.gps {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.gps > * {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.gps > *:first-child {
  border-bottom: 1px solid #ddd;
}
@media screen and (orientation: landscape) {
  .gps {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .gps > *:first-child {
    border-bottom: 0px;
    border-right: 1px solid #ddd;
  }
}
.gps .dials .list.options {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-bottom: 0px;
}
.gps .dials .instruments {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}
.gps .dials .instruments .slider {
  height: 100%;
}
.gps .compass {
}

/* Hack to make sure height 100% inside of a flex child */
.flex-fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* MFD display */
mfd {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
}
mfd .title {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #444;
}
mfd .value {
  -webkit-flex: 1 1 auto;
  flex: 0 0  auto;
  -webkit-align-self: center;
  font-size: 30vw;
  line-height: 30vw;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
mfd .units {
  -webkit-flex: 1 1 auto;
  flex: 0 0 auto;
  -webkit-align-self: center;
  align-self: center;
  color: #444;
  border-top: 1px solid #ddd;
}
@media screen and (orientation: landscape) {
mfd .value {
  font-size: 30vh;
  line-height: 30vh;
}
}
